<!-- <div *ngFor="let mahasiswa of this.currentMahasiswa"> -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="mb-3 mt-4">
        <label for="" class="form-label">Nomor BP</label>
        <input
          type="text"
          class="form-control"
          id="nobp"
          required
          [(ngModel)]="mahasiswa.nobp"
          name="nobp"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Nama Mahasiswa</label>
        <input
          type="text"
          class="form-control"
          id="nama"
          required
          [(ngModel)]="mahasiswa.nama"
          name="nama"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Jurusan</label>
        <input
          type="text"
          class="form-control"
          id="jurusan"
          required
          [(ngModel)]="mahasiswa.jurusan"
          name="jurusan"
        />
      </div>
      <button
        (click)="edit()"
        type="submit"
        class="btn btn-primary"
        style="margin-right: 0.5rem"
      >
        Edit
      </button>
      <button (click)="delete()" type="submit" class="btn btn-danger">
        Delete
      </button>
    </div>
  </div>
</div>
<!-- </div> -->
