<table class="table table-striped mt-4">
  <thead>
    <tr>
      <th>No BP</th>
      <th>Nama</th>
      <th>Jurusan</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody *ngFor="let mahasiswa of this.currentMahasiswa">
    <tr>
      <td>{{ mahasiswa.nobp }}</td>
      <td>{{ mahasiswa.nama }}</td>
      <td>{{ mahasiswa.jurusan }}</td>
      <td>
        <a routerLink="edit" class="btn btn-sm btn-info">
          <i class="bi bi-pen-fill"></i>
        </a>
        <a href="" class="btn btn-sm btn-danger" style="margin-left: 0.25rem">
          <i class="bi bi-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
